*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --primaryDarkBlue: #040b14;
    --profileBorder:#2c2f3f;
    --cwhite:white;
    --socialLinks:#212431;
    --mainGray:#a8a9b4;
    --lightBlue:#149ddd;
    --headingDarkBlue:#173b6c;
    --textBlack:#272829;
    --bglight:#f5f8fd;
}

.header{
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    padding:  0 15px;
    background-color: var(--primaryDarkBlue);
}
.black-overlay{
    background-color: rgb(0, 0, 0,0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}
.section-padding-y{
    padding: 60px 0px;
}

.header-toggle-btn{
    position: fixed;
    z-index: 100;
    top: 20px;
    right: 10%;
    background-color: transparent;
    cursor: pointer;
}
.header-toggle-btn p:nth-child(1){
    border-bottom: 3px solid var(--lightBlue);
    width: 30px;height: 4px;
     margin-bottom: 5px;
}
.header-toggle-btn p:nth-child(2){
    border-bottom: 3px solid var(--lightBlue);
    width: 30px;height: 4px;
    margin-bottom: 5px;
}
.header-toggle-btn p:nth-child(3){
    border-bottom: 3px solid var(--lightBlue);
    width: 30px;
    height: 4px;
    margin-bottom: 0px;
}
.toggle-cross{
    display: none;
    position: absolute;
    top: 0px;
    right: 20px;
    cursor: pointer;
    padding: 20px;
}
.toggle-cross img{
    width: 20px;
}



.profile .profile-img{
    text-align: center;
}
.profile .profile-img img{
    border-radius: 50%;
    border: 8px solid var(--profileBorder);
    margin-top: 15px;
    transition: all 200ms ease;
}
.profile .profile-img img:hover{
    border: 8px solid var(--primaryDarkBlue);
}

.profile .name {
    display: flex;
    justify-content: center;
}
.profile .name span{
    color: transparent;
    -webkit-text-stroke: 0px var(--cwhite);
    margin-top: 16px;
    font-weight: 300;
    font-size: 22px;
    position: relative;
    margin-left: 5px;
}

.profile .name span::before{
    position: absolute;
    top: 0%;
    left: 0%;
    content: attr(data-text);
    -webkit-text-stroke: 1px var(--cwhite);
    width: 0%;
    height: 100%;
    color: var(--cwhite);
    border-right: 0px solid transparent;
    overflow: hidden;
    animation: animateName 1s ease-in forwards;
}

@keyframes animateName{
    100%{
        width: 100%;
    }
}
.profileAnimationClass{
    animation: profile 1s ease-in;
}
@keyframes profile{
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}
.social-links{
    margin-top: 16px;
}
.social-links ul {
    display: flex;
    justify-content: center;
}
.social-links ul li{
    width: 36px;
    height: 36px;
    background-color: var(--socialLinks);
    margin: 0 4px;
    border-radius: 50%;
    transition: all 200ms ease;
}
.social-links ul li:hover{
    /*animation: iconHover 200ms ease forwards;*/
    background-color: var(--lightBlue);
}
@keyframes iconHover{
    100%{
        background-color: var(--lightBlue);
    }
}
.default-icon-anime{
    animation: defaultIcon 900ms ease forwards;
}
@keyframes defaultIcon{
    50%{
        background-color: #149ddd;
    }
    100%{
        background-color: var(--socialLinks);
    }
}
.social-links ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-links ul li a img{
    width: 18px;
}

.navbar{
    margin-top: 30px;
}

.navbar .navbar-inner ul li{
    margin-bottom: 20px;
}
.navbar .navbar-inner ul li a{
    display: flex;
    align-items: center;
    padding: 5px;
}
.navbar .navbar-inner ul li a img{
    width: 25px;
}
.navbar .navbar-inner ul li a:hover{
    text-decoration-line: none;
    
}
.navbar .navbar-inner ul li a span{
    color: var(--mainGray);
    font-size: 17px;
    margin-left: 8px;
}
.navbar .navbar-inner ul li a:hover span{
    animation: hoverTextNavbar 200ms ease  forwards;
}

@keyframes hoverIconNavbar{
    100%{
        color: #149ddd;
    }
}
@keyframes hoverTextNavbar{
    100%{
        color: white;
    }
}

.remove-header-anime{
    animation: removeHeader 800ms  forwards;
}
@keyframes removeHeader{
    100%{
        transform: translateX(-100%);
    }
}
@keyframes addHeader{
    100%{
        transform: translateX(0%);
    }
}
.show-header-anime{
    animation: addHeader 800ms ease-in forwards;
}


/*------------------------------ MAIN SECTION START -------------------------------*/
.main-inner{
    margin-left: 300px;
}
.intro{
    height: 100vh;
    background-image: linear-gradient(120deg,var(--primaryDarkBlue),var(--lightBlue));
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-name{
    text-align: center;
}
.intro-name svg text{
    font-size: 80px;
    stroke:  var(--cwhite);   /*rgb(9, 9, 34)*/
    stroke-width: 2px;
    font-weight: 600;
    fill: transparent;
    animation: animateBigName 5s ease,fillName 800ms ease-in 4s forwards;
    position: relative;
   
  }
  @keyframes fillName{
      100%{
          fill: var(--cwhite);
      }
  }
  .intro-name h1{
    display: inline-block;
    white-space: nowrap;
    color: transparent;
    -webkit-text-stroke: 2px transparent;
    animation: box 5s infinite;
    position: relative;
    padding-right: 2px;
  }
  .intro-name h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #03bcf4;
    -webkit-text-stroke: 2px #03bcf4;
    width: 100%;
    overflow: hidden;
    border-right: 2px solid transparent;
    animation: h1 3s ease-in , h1-again 1s ease-in  3s forwards ;
    
  }
  @keyframes animateBigName{
    0%{
      stroke-dasharray: 0% 50%;
    }
    100%{
      stroke-dasharray: 50% 0%;
    }
  }


  @keyframes h1{
    0%{
      width: 0%;
    }
    50%{
      width: 100%;

    }
    60%{
      width: 100%;
    }
    100%{
      width: 0%;
    }
  }

  @keyframes h1-again{
    0%{
      width: 0%;
    }

    100%{
      width: 100%;
    }
  }



/* !!!!!!!!!!!!!!!!!!  ABOUT SECTION !!!!!!!!!!!!!!  */ 


  .lead-text{
      margin-bottom: 30px;
  }
  .lead-text h1{
      color:  var(--headingDarkBlue);
      position: relative;
      font-size: 32px;
      font-weight: 600;
      padding-bottom: 20px;
      margin-bottom: 20px;
  }
  .lead-text h1::before{
      display: block;
      content: "";
      position: absolute;
      bottom: 0%;
      left: 0%;
      width: 51px;
      height: 3px;
      background-color: var(--lightBlue);
  }
  .lead-text p{
      margin-bottom: unset;
      color: var(--textBlack);
  }

  
  .about-details-caption h1{
      font-size: 28px;
      color: var(--headingDarkBlue);
      font-weight: 600;
  }
  .about-details-caption p{
      font-style: italic;
      color: var(--textBlack);
      font-size: 17px;
  }

  .details-caption-list {
    margin: 25px 0;
  }
  .details-caption-list div{
      padding: 0 0;
  }
  .details-caption-list div ul{
      margin:  0;
  }
  .details-caption-list div ul li{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
  }
  .details-caption-list div ul li i{
      color: var(--lightBlue);
      font-size: 14px;
  }
  .details-caption-list div ul li span:nth-child(2){
      font-weight: 600;
      margin-left: 5px;
      margin-right: 6px;
  }


  /*------------------------ SKILL SECTION ---- SKILL SECTION--------------------------------!!!!!!!!!!!*/

  .skill{
      background-color: var(--bglight);
  }
  .skill-list-inner ul {
      margin: 0 0;
  }
  .skill-list-inner ul li{
    margin: 10px 0;
    font-size: 17px;
    font-weight: 600;
    transition: all 500ms ease-in ;
  }
  .skill-list div:nth-child(2) :first-child li:nth-child(2){
      position: relative;
  }
  .skill-list div:nth-child(2) :first-child li:nth-child(2):hover::after{
      opacity: 1;
      color: var(--lightBlue);
  }
  .skill-list div:nth-child(2) :first-child li:nth-child(2)::after{
      transition: all 500ms ease-in;
  }
  .skill-list div:nth-child(2) :first-child li:nth-child(2)::after{
      content: 'v.4.x';
      display: block;
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translateY(-50%);
      opacity: 0;
  }
  .skill-list-inner ul li i{
      transition: all 500ms ease-in;
      transition-delay: 50ms;
  }
  .skill-list-inner ul li:hover i{
    transform: rotate(360deg);
    color: var(--lightBlue);
    
  }
  .skill-list-inner ul li:hover {
      color: var(--lightBlue);
      
  }



  /*_____---------_____---RESUME SECTION _______-----RESUME SECTION--_____---*/


  .summary-heading h1{
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 15px;
  }
  .summary-details{
      padding-left: 24px;
      position: relative;
      border-left: 2px solid var(--headingDarkBlue);
  }
  .summary-details::before{
      position: absolute;
      top: 0%;
      left: -9px;
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: white;
      border: 2px solid var(--headingDarkBlue);
  }
  .summary-details::after{
    position: absolute;
    bottom: 0%;
    left: -9px;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid var(--headingDarkBlue);
}
  .summary-details h6{
      font-weight: 600;
  }
  .summary-details p{
      font-style: italic;
      font-size: 17px;
      color: var(--textBlack);
  }
  .summary-details ul{
      padding-left: 20px;
  }
  .summary-details ul li{
      list-style-type: disc;
      margin-bottom: 10px;
  }
  .summary-circle{
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: white;
      border: 2px solid var(--headingDarkBlue);
  }
  .dates{
      display: inline-block;
      padding: 3px 12px !important;
      background-color: #e4edf9;
      width: auto;
      font-weight: 600;
  }
  .summary-details h5{
      font-size: 16px;
      font-style: italic;
      margin-bottom: 20px;
      margin-top: 8px;
  }
  .education-details{

  }
  .education-details h5{
    font-size: 16px;
    font-style: italic;
    margin-bottom: 20px;
    margin-top: 8px;
  }
  .resume-summary .row .col-lg-6:last-child div:nth-child(2)::after{
    all: initial;
  }
  



/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .header-toggle-btn{
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .header-toggle-btn{
        display: none;
    }
    .intro-name h1{
        font-size: 28px;
      }

      /*1!!!!!!!!!!!!!!ABOUT SECTION !!!!!!!!!!!!*/

    .lead-text{
        margin-bottom: 30px;
    }
    .lead-text h1{
        font-size: 28px;
    }
    .lead-text h1::before{
        width: 45px;
        height: 3px;
    }
    .lead-text p{
        margin-bottom: unset;
        font-size: 15px;
    }
  
    
    .about-details-caption h1{
        font-size: 24px;
    }
    .about-details-caption p{
        font-size: 15px !important;
    }
  
    .details-caption-list {
      margin: 25px 0;
    }
    .details-caption-list div{
        padding: 0 0;
    }
    .details-caption-list div ul{
        margin:  0 ;
    }
    .details-caption-list div:nth-child(2){
        padding-left: 10px;
    }
    .details-caption-list div ul li{
        margin-bottom: 10px;
    }
    .details-caption-list div ul li i{
        font-size: 13px;
    }
    .details-caption-list div ul li span:nth-child(2){
        font-size: 14px;
        margin-left: 2px;
        margin-right: 1px;
        white-space: nowrap;
    }
    .details-caption-list div ul li span:nth-child(3){
        font-size: 14px;
    }

    /*------------------------ SKILL SECTION ---- SKILL SECTION--------------------------------!!!!!!!!!!!*/


    .skill-list-inner ul li{
      margin: 10px 0;
      font-size: 15px;
    }
    .skill-list div:nth-child(2) :first-child li:nth-child(2)::after{
        transition: all 500ms ease-in;
    }
    .skill-list-inner ul li:hover i{
      transform: rotate(360deg);
      color: var(--lightBlue);
      
    }
    .skill-list-inner ul li:hover {
        color: var(--lightBlue);  
    }


    /*_____---------_____---RESUME SECTION _______-----RESUME SECTION--_____---*/


    .summary-heading h1{
        font-size: 22px;

    }
    .summary-details{
        padding-left: 24px;
    }
    .summary-details::before{
        top: 0%;
        left: -9px;
        width: 14px;
        height: 14px;
    }
    .summary-details::after{
        bottom: 0%;
        left: -9px;
        width: 14px;
        height: 14px;

    }
    .summary-details h6{
        font-weight: 600;
        
    }
    .summary-details p{
        font-style: italic;
        font-size: 16px;
        color: var(--textBlack);
    }
    .summary-details ul{
        padding-left: 20px;
    }
    .summary-details ul li{
        margin-bottom: 10px;
        font-size: 15px;
    }
    .dates{
        font-size: 15px;
    }
    .summary-details h5{
        font-size: 16px;
    }


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .header{
        opacity: 0;
    }
    .main-inner{
        margin-left: 0px;
    }
    .intro-name h1{
        font-size: 26px;
    }
    /*1!!!!!!!!!!!!!!ABOUT SECTION !!!!!!!!!!!!*/


    .lead-text{
        margin-bottom: 30px;
    }
    .lead-text h1{
        font-size: 32px;
       
    }
   
    .lead-text p{
        margin-bottom: unset;
    }
  
    .about-details-caption{
        margin-top: 30px;
    }
    .about-details-caption h1{
        font-size: 28px;
    }
    .about-details-caption p{
        font-size: 17px;
    }
  
    .details-caption-list {
      margin: 25px 0;
    }
    .details-caption-list div ul li i{
        font-size: 13px;
    }
    .details-caption-list div ul li span:nth-child(2){
        margin-left: 4px;
        margin-right: 1px;
        font-size: 16px;
    }
    .details-caption-list div ul li span:nth-child(3){
        font-size: 16px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .header{
        opacity: 0;
    }
    .main-inner{
        margin-left: 0px;
    }
    .intro-name svg text{
        font-size: 100px;
       
      }
    .intro-name h1{
        font-size: 23px;
    }


     /*1!!!!!!!!!!!!!!ABOUT SECTION !!!!!!!!!!!!*/

  
    .about-details-caption{
        margin-top: 30px;
    }
    .about-details-caption h1{
        font-size: 28px;
    }
    .about-details-caption p{
        font-size: 17px;
    }
  
    .details-caption-list {
      margin: 15px 0;
    }
    .details-caption-list div ul{
        margin: 10px 0;
    }
    .details-caption-list div ul li i{
        font-size: 13px;
    }
    .details-caption-list div ul li span:nth-child(2){
        margin-left: 4px;
        margin-right: 1px;
        font-size: 16px;
    }
    .details-caption-list div ul li span:nth-child(3){
        font-size: 16px;
    }

    /*------------------------ SKILL SECTION ---- SKILL SECTION--------------------------------!!!!!!!!!!!*/
    .skill-list-inner ul:nth-child(1) {
        margin: 0px 0;
        margin-bottom: 10px;
    }
    .skill-list-inner ul li{
        margin: 10px 0;
        font-size: 17px;
    }

}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .header{
        opacity: 0;
    }
    .toggle-cross{
        display: block ;
    }
    .main-inner{
        margin-left: 0px;
    }
    .intro-name svg text{
        font-size: 110px;
       
      }
    .intro-name h1{
        font-weight: 300;
        font-size: 18px;
    }

     /*1!!!!!!!!!!!!!!ABOUT SECTION !!!!!!!!!!!!*/

  
    .lead-text h1{
        font-size: 26px;
    }
    .lead-text h1::before{
        width: 43px;
        height: 3px;
    }
    .lead-text p{
        margin-bottom: unset;
        font-size: 15px;
    }

     .about-details-caption{
        margin-top: 30px;
    }
    .about-details-caption h1{
        font-size: 22px;
    }
    .about-details-caption p{
        font-size: 15px !important;
    }
  
    .details-caption-list {
      margin: 10px 0;
    }
    .details-caption-list div ul{
        margin: 5px 0;
    }
    .details-caption-list div ul li i{
        font-size: 12px;
    }
    .details-caption-list div ul li span:nth-child(2){
        margin-left: 4px;
        margin-right: 5px;
        font-size: 15px;
    }
    .details-caption-list div ul li span:nth-child(3){
        font-size: 15px;
    }

    /*------------------------ SKILL SECTION ---- SKILL SECTION--------------------------------!!!!!!!!!!!*/
    .skill-list-inner ul {
        margin: 0px 0;
        margin-bottom: 10px;
    }
    .skill-list-inner ul li{
        margin: 10px 0;
        font-size: 15px;
    }


    /*_____---------_____---RESUME SECTION _______-----RESUME SECTION--_____---*/


        .summary-heading h1{
            font-size: 22px;
        }
        .summary-details::before{
            top: 0%;
            left: -8px;
            width: 14px;
            height: 14px;
        }
        .summary-details::after{
            bottom: 0%;
            left: -8px;
            width: 14px;
            height: 14px;

        }
        .summary-details h6{
            font-weight: 600;
            
        }
        .summary-details p{
            font-size: 16px;
        }
        .summary-details ul li{
            font-size: 15px;
        }
        .dates{
            font-size: 15px;
        }
        .summary-details h5{
            font-size: 16px;
        }

        .resume-summary .row .col-lg-6:nth-child(2){
            margin-top: 30px;
        }

}



