*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    /*cursor:  url("../img/cursor (1).png"),auto;*/
}

:root{
    --primaryDarkBlue: #040b14;
    --profileBorder:#2c2f3f;
    --cwhite:white;
    --socialLinks:#212431;
    --mainGray:#a8a9b4;
    --lightBlue:#149ddd;
    --headingDarkBlue:#173b6c;
    --textBlack:#272829;
    --bglight:#f5f8fd;
    --reviewSlider:white;
    --portfolioSlider:rgba(228,237,249,0.4);
    scroll-behavior: smooth;
}

.header{
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    padding:  0 15px;
    background-color: var(--primaryDarkBlue);
    overflow-x: hidden; 
    overflow-y: auto; 
    height: 105vh;
}
.black-overlay{
    background-color: rgb(0, 0, 0,0.5);
    position: fixed;
    top: 0;
    bottom: -200px;
    left: 0;
    right: 0;
    z-index: 9;
}
.loader-parent{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: var(--primaryDarkBlue);
    opacity: 1;
    transition: 500ms all ease-out;
}
.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
}
.loader-inner{
    
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;border-top: 2px dotted var(--lightBlue);
    animation: orbitCircle 1200ms linear infinite ;
}
@keyframes orbitCircle{
    0%{
        transform: rotate(0deg) ;
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg) ;
    }
}
.theme{
    cursor: pointer ;
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 12px;
}
.theme i{
    margin-right: 5px;
    font-size: 12px;
}
.rotateSwitch{
    animation: rotateSwitch 300ms forwards;
}
@keyframes rotateSwitch{
    100%{
        transform: rotate(180deg);
    }
}
.unrotateSwitch{
    animation: unrotateSwitch 300ms forwards;
}
@keyframes unrotateSwitch{
    0%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.theme li{
    display: flex;
    align-items: center;
}
.section-padding-y{
    padding: 60px 0px;
}

.header-toggle-btn{
    position: fixed;
    z-index: 100;
    top: 20px;
    right: 10%;
    background-color: transparent;
    cursor: pointer;
}
.header-toggle-btn p:nth-child(1){
    border-bottom: 3px solid var(--lightBlue);
    width: 30px;height: 4px;
     margin-bottom: 5px;
}
.header-toggle-btn p:nth-child(2){
    border-bottom: 3px solid var(--lightBlue);
    width: 30px;height: 4px;
    margin-bottom: 5px;
}
.header-toggle-btn p:nth-child(3){
    border-bottom: 3px solid var(--lightBlue);
    width: 30px;
    height: 4px;
    margin-bottom: 0px;
}
.toggle-cross{
    display: none;
    position: absolute;
    top: 0px;
    right: 20px;
    cursor: pointer;
    padding: 20px;
}
.toggle-cross img{
    width: 20px;
}



.profile .profile-img{
    text-align: center;
}
.profile .profile-img img{
    border-radius: 50%;
    border: 8px solid var(--profileBorder);
    margin-top: 15px;
    transition: all 200ms ease;
}
.profile .profile-img img:hover{
    border: 8px solid var(--primaryDarkBlue);
}

.profile .name {
    display: flex;
    justify-content: center;
}
.profile .name span{
    color: transparent;
    -webkit-text-stroke: 0px white;
    margin-top: 16px;
    font-weight: 300;
    font-size: 22px;
    position: relative;
    margin-left: 5px;
}

.profile .name span::before{
    position: absolute;
    top: 0%;
    left: 0%;
    content: attr(data-text);
    -webkit-text-stroke: 1px white;
    width: 0%;
    height: 100%;
    color: var(--cwhite);
    border-right: 0px solid transparent;
    overflow: hidden;
    animation: animateName 1s ease-in forwards;
}

@keyframes animateName{
    100%{
        width: 100%;
    }
}
.profileAnimationClass{
    animation: profile 1s ease-in;
}
@keyframes profile{
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}
.social-links{
    margin-top: 16px;
}
.social-links ul {
    display: flex;
    justify-content: center;
}
.social-links ul li{
    width: 36px;
    height: 36px;
    background-color: var(--socialLinks);
    margin: 0 4px;
    border-radius: 50%;
    transition: all 200ms ease;
}
.social-links ul li:hover{
    /*animation: iconHover 200ms ease forwards;*/
    background-color: var(--lightBlue);
}
@keyframes iconHover{
    100%{
        background-color: var(--lightBlue);
    }
}
.default-icon-anime{
    animation: defaultIcon 900ms ease forwards;
}
@keyframes defaultIcon{
    50%{
        background-color: #149ddd;
    }
    100%{
        background-color: var(--socialLinks);
    }
}
.social-links ul li a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-links ul li a img{
    width: 18px;
}

.navbar{
    margin-top: 30px;
}

.navbar .navbar-inner ul li{
    margin-bottom: 20px;
}
.navbar .navbar-inner ul li a{
    display: flex;
    align-items: center;
    padding: 5px;
}
.navbar .navbar-inner ul li a i::before{
    font-size: 25px;
    transition: all 300ms ease;
}
.navbar .navbar-inner ul li a:hover{
    text-decoration-line: none;
    
}
.navbar .navbar-inner ul li a span{
    color: var(--mainGray);
    font-size: 17px;
    margin-left: 8px;
    transition: all 300ms ease;
}
.navbar .navbar-inner ul li a:hover span{
    /*animation: hoverTextNavbar 200ms ease  forwards;*/
    color: white;
}
.navbar .navbar-inner ul li a:hover i::before{
    color: var(--lightBlue);
}
@keyframes hoverIconNavbar{
    100%{
        color: #149ddd;
    }
}
@keyframes hoverTextNavbar{
    100%{
        color: white;
    }
}

.remove-header-anime{
    animation: removeHeader 400ms ease-out  forwards;
}
@keyframes removeHeader{
    100%{
        transform: translateX(-100%);
    }
}
@keyframes addHeader{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.show-header-anime{
    animation: addHeader 500ms  forwards;
}


/*------------------------------ MAIN SECTION START -------------------------------*/
.main-inner{
    margin-left: 300px;
}
.intro{
    height: 100vh;
    background-image: linear-gradient(120deg,var(--primaryDarkBlue),var(--lightBlue));
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-name{
    text-align: center;
}
.intro-name svg text{
    font-size: 80px;
    stroke:  white;   
    stroke-width: 2px;
    font-weight: 600;
    position: relative;
   
  }
  .animateBigName{
    animation: animateBigName 6s ease,fillName 800ms ease-in 4s forwards;
  }
  @keyframes fillName{
      100%{
          fill: white;
      }
  }
  .intro-name h1{
    display: inline-block;
    white-space: nowrap;
    color: transparent;
    -webkit-text-stroke: 2px transparent;
    animation: box 5s infinite;
    position: relative;
    padding-right: 2px;
  }
  .intro-name h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #03bcf4;
    -webkit-text-stroke: 2px #03bcf4;
    width: 100%;
    overflow: hidden;
    border-right: 2px solid transparent;
    animation: h1 3s ease-in , h1-again 1s ease-in  3s forwards ;
    
  }
 
  @keyframes animateBigName{
    0%{
      stroke-dasharray: 0% 50%;
    }
    100%{
      stroke-dasharray: 50% 0%;
    }
  }


  @keyframes h1{
    0%{
      width: 0%;
    }
    50%{
      width: 100%;

    }
    60%{
      width: 100%;
    }
    100%{
      width: 0%;
    }
  }

  @keyframes h1-again{
    0%{
      width: 0%;
    }

    100%{
      width: 100%;
    }
  }



/* !!!!!!!!!!!!!!!!!!  ABOUT SECTION !!!!!!!!!!!!!!  */ 

  .about{
      background-color: var(--cwhite);
  }
  .lead-text{
      margin-bottom: 30px;
  }
  .lead-text h1{
      color:  var(--headingDarkBlue);
      position: relative;
      font-size: 32px;
      font-weight: 600;
      padding-bottom: 20px;
      margin-bottom: 20px;
  }
  .lead-text h1::before{
      display: block;
      content: "";
      position: absolute;
      bottom: 0%;
      left: 0%;
      width: 51px;
      height: 3px;
      background-color: var(--lightBlue);
  }
  .lead-text p{
      margin-bottom: unset;
      color: var(--textBlack);
  }

  
  .about-details-caption h1{
      font-size: 28px;
      color: var(--headingDarkBlue);
      font-weight: 600;
  }
  .about-details-caption p{
      font-style: italic;
      color: var(--textBlack);
      font-size: 17px;
  }

  .details-caption-list {
    margin: 25px 0;
  }
  .details-caption-list div{
      padding: 0 0;
  }
  .details-caption-list div ul{
      margin:  0;
  }
  .details-caption-list div ul li{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
  }
  .details-caption-list div ul li span{
      color: var(--textBlack);
  }
  .details-caption-list div ul li i{
      color: var(--lightBlue);
      font-size: 14px;
  }
  .details-caption-list div ul li span:nth-child(2){
      font-weight: 600;
      margin-left: 5px;
      margin-right: 6px;
  }


  /*------------------------ SKILL SECTION ---- SKILL SECTION--------------------------------!!!!!!!!!!!*/

  .skill{
      background-color: var(--bglight);
  }
  .skill-list-inner ul {
      margin: 0 0;
  }
  .skill-list-inner ul li{
    margin: 10px 0;
    font-size: 17px;
    font-weight: 600;
    transition: all 500ms ease-in ;
    color: var(--textBlack);
  }
  .skill-list div:nth-child(2) :first-child li:nth-child(2){
      position: relative;
  }
  .skill-list div:nth-child(2) :first-child li:nth-child(2):hover::after{
      opacity: 1;
      color: var(--lightBlue);
  }
  .skill-list div:nth-child(2) :first-child li:nth-child(2)::after{
      transition: all 500ms ease-in;
  }
  .skill-list div:nth-child(2) :first-child li:nth-child(2)::after{
      content: 'v.4.x';
      display: block;
      position: absolute;
      top: 50%;
      right: 0%;
      transform: translateY(-50%);
      opacity: 0;
  }
  
  .skill-list-inner ul li span i{
      transition: all 500ms ease-in;
      display: inline-block;
  }
  .skill-list-inner ul li:hover span i{
    transform: rotate(360deg);
    color: var(--lightBlue);
  }
  .skill-list-inner ul li:hover {
      color: var(--lightBlue); 
  }



  /*_____---------_____---RESUME SECTION _______-----RESUME SECTION--_____---*/

  .resume{
      background-color: var(--cwhite);
  }
  .summary-heading h1{
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 15px;
      color: var(--textBlack);
  }
  .summary-details{
      padding-left: 24px;
      position: relative;
      border-left: 2px solid var(--headingDarkBlue);
  }
  .summary-details::before{
      position: absolute;
      top: 0%;
      left: -9px;
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: var(--cwhite);
      border: 2px solid var(--headingDarkBlue);
  }
  .summary-details::after{
    position: absolute;
    bottom: 0%;
    left: -9px;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--cwhite);
    border: 2px solid var(--headingDarkBlue);
}
  .summary-details h6{
      font-weight: 600;
      color: var(--textBlack);
  }
  .summary-details h5{
      color: var(--textBlack);
  }
  .summary-details p{
      font-style: italic;
      font-size: 17px;
      color: var(--textBlack);
  }
  .summary-details ul{
      padding-left: 20px;
  }
  .summary-details ul li{
      list-style-type: disc;
      margin-bottom: 10px;
      color: var(--textBlack);
  }
  .summary-circle{
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: white;
      border: 2px solid var(--headingDarkBlue);
  }
  .dates{
      display: inline-block;
      padding: 3px 12px !important;
      background-color: #e4edf9;
      width: auto;
      font-weight: 600;
  }
  .summary-details h5{
      font-size: 16px;
      font-style: italic;
      margin-bottom: 20px;
      margin-top: 8px;
  }


  .resume-summary .row .col-lg-6:last-child div:nth-child(2)::after{
    all: initial;
  }


  /*-------______PORTFOLIO SECTION -----____________ PORTFOLIO SECTION------PORTFOLIO*/

        .portfolio{
            background-color: var(--bglight);
        }
        .portfolio-slider{
            margin-top: 50px;
            background-color: var(--portfolioSlider);
            padding: 40px 40px;
            border-radius: 8px;
        }
        .portfolio-slider .portfolio-owl .item .item-inner{
           position: relative;
        }
        .portfolio-slider .portfolio-owl .item .item-inner:hover .item-link{
            opacity: 1;
        }
        .portfolio-slider .portfolio-owl .item .item-inner .item-link
        {
            transition: all 300ms ease ;
            opacity: 0;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
            left: 50%;
            width: 70px;
            height: 70px;
            background-color: rgba(228,237,249,0.9);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .portfolio-slider .portfolio-owl .item .item-inner .item-link i{
            font-size: 20px;
            color: var(--lightBlue);
        }
        .portfolio-slider .portfolio-owl .item .item-inner .item-link a:hover{
            text-decoration: none;;
        }
        .portfolio-slider .portfolio-owl .owl-item{
            padding: 0 180px;
        }
        .portfolio-slider .portfolio-owl .owl-item img{
            border-radius: 8px;
            position: relative;
        }
        .portfolio-slider .portfolio-owl .owl-nav{
            margin-top: 0;
        }
        .portfolio-slider .portfolio-owl .owl-nav i{
            color: var(--lightBlue);
        }
        .portfolio-slider .portfolio-owl .owl-nav .owl-prev{
            background-color: #e4edf9;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            outline: none;
            margin: 0;

        }
        .portfolio-slider .portfolio-owl .owl-nav .owl-next{
            background-color: #e4edf9;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            outline: none;
            margin: 0;
        }
        

/*_________--SERVICE SECTION ____------ SERVICE SECTION ___---- SERVICE SECTION --*/
        .service{
            background-color: var(--cwhite);
        }
        .service-detail-inner{
            display: flex;
            position: relative;
            z-index: 3;
            padding: 20px;
        }
        .service-detail-inner:hover::before{
            width: 100%;
            border: 1px solid var(--lightBlue);
            background-color: var(--primaryDarkBlue);
        }
        .service-detail-inner:hover .service-detail-icon i::before{
            color: var(--lightBlue);
            
        }
        .service-detail-inner:hover .service-detail-caption h6{
            color: white;
            
        }
        .service-detail-inner:hover .service-detail-caption p{
            color: white;
           
        }
        .service-detail-inner:hover .service-detail-icon{
            background-color: white;
            
        }
        .service-detail-inner::before{
            display: block;
            content: "";
            z-index: -80;
            position: absolute;
            left: 0;
            top: 0;
            background-color: var(--lightBlue);
            width: 0%;
            height: 100%;
            border-radius: 16px;
            overflow: hidden;
            transition: all 600ms ease;
            border: 0px solid var(--lightBlue);
        }
        .service-detail-icon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 120px;
            height: 120px;
            padding: 30px;
            border-radius: 50%;
            background-color: var(--lightBlue);
            border: 1px solid var(--lightBlue);
            margin-right: 18px;
            transition: all 600ms ease;
        }
        .service-detail-icon i{
            font-size: 40px;
            transition: all 600ms ease;
        }
        .service-detail-caption{
            width: 80%;
        }
        .service-detail-caption h6{
            font-size: 22px;
            color: var(--textBlack);
            font-weight: 600;
            margin-bottom: 18px;
            transition: all 600ms ease;
        }
        .service-detail-caption p{
            font-style: italic;
            font-size: 17px;
            margin-bottom: 0;
            transition: all 600ms ease;
            color: var(--textBlack);
        }



/*REVIEW SECTION ____-----REVIEW------__REVIEW___---REVIEW SECTION--REVIEW*/

        .review{
            background-color: var(--bglight);
        }
        .review-slider-inner-caption{
            background-color: var(--reviewSlider);
            box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
            padding: 20px;
            border-radius: 4px;
            position: relative;
        }
        .review-slider-inner-caption::after{
            display: block;
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0%;
            transform: translate(-50%,100%);
            width: 0;
            height: 0;
            border-left: 13px solid transparent;
            border-right: 13px solid transparent;
            border-top: 13px solid var(--reviewSlider);
        }
        .review-slider-inner-caption i{
            margin-right: 10px;
            font-size: 25px !important;
            color: #c3e8fa;
        }
        .review-slider-inner-caption i:last-child{
            margin-right: unset;
            margin-left: 10px;
        }
        .review-slider-inner-caption span{
            font-style: italic;
            font-size: 17px;
            color: var(--textBlack);
        }

        .review-slider-inner-customer img{
            margin: 18px auto;
            width: 90px !important;
            border-radius: 50%;
        }
        .review-slider-inner-customer h5{
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: #111;
            color: var(--textBlack);
        }
        .review-slider-inner-customer h6{
            text-align: center;
            font-size: 14px;
            color: #999999;
        }
        .review-owl .owl-dots .active span{
            background-color: var(--lightBlue) !important;
        }
        .review-owl .owl-dots button{
            outline: none;
        }
    

/*-____-----__--CONTACT CONTACT------___CONTACT CONTACT---CONTACT __CONTACT-__-CONTACT*/

        .contact{
            background-color: var(--cwhite);
        }
        .contact-info{

            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 30px 45px;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 50%;
            background-color: var(--headingDarkBlue);
            height: 85%;
        }
        .contact-info h1{
            font-size: 26px;
            color: white;
            margin-bottom: 20px;
        }
        .contact-list li{
            display: flex;
            align-items: center;
            color: white;
            margin-bottom: 25px;
        }
        .contact-list li i{
            font-size: 18px;
            color: white;
            margin-right: 10px;
        }
        .contact-list li i::before{
            color: white;
        }
        .contact-info .social-links ul li{
            width: 40px;
            height: 40px;
            background-color: var(--bglight);
        }
        .contact-info .social-links ul li a:hover{
            text-decoration: none;
        }
        .contact-info .social-links ul li i::before{
            color: var(--headingDarkBlue);
            font-size: 18px;
        }

        .message-form{
            margin-left: auto ;
            width: 80%;
            padding:  0 15px;
            position: relative;
            background-color: var(--bglight);
            padding: 50px 0;
            padding-right: 20px;
        }
        .message-form-inner{
            width: 70%;
            margin-left:auto ;
        }
        .message-form-inner h1{
            color: var(--headingDarkBlue);
            font-size: 25px;
            margin-bottom: 25px;
        }
        .message-form-inner input{
            width: 100%;
            border: 0;
            background-color: transparent;
            outline: none;
            border-bottom: 1px solid var(--headingDarkBlue);
            padding-bottom: 8px;
            color: var(--textBlack);
        }
        .red-placeholder{
            color: red;
        }
        .error{
            color: red;
            font-size: 12px;
            opacity: 0;
        }
        .full-opacity{
            opacity: 1  ;
        }
        .no-opacity{
            opacity: 0;
        }
        .message-form-inner input::placeholder{
            color: var(--textBlack);
        }
        .message-form-inner textarea{
            width: 100%;
            margin-top: 30px;
            border: 0;
            background-color: transparent;
            font-size: 17px;
            outline: none;
            border-bottom: 1px solid var(--headingDarkBlue);
            color: var(--textBlack);
        }
        .message-form-inner textarea::placeholder{
            color: var(--textBlack);
        }
        .message-form-inner form  .row:nth-child(2){
            margin-top: 25px;
        }
        .message-form-inner form  .row:nth-child(3){
            margin-top: 0px;
        }
        .message-form-inner button{
            margin-top: 15px;
            background-color: var(--headingDarkBlue);
            width: 150px;
            padding: 14px 0;
            border: none;
            outline: none;
            color: white ;
            font-size: 18px;
        }


        .scrollTop-Btn{
            display: none;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background-color: #149ddd;
            position: fixed;
            bottom: 15px;
            right: 15px;
            border: 0;
            outline: none !important;
            border-radius: 50%;
            z-index: 5;
            cursor: pointer;
        }
        .scrollTop-Btn i{
            font-size: 19px;
            color: white;
            display: block;
            transform: rotate(-90deg);
            cursor: pointer;
        }
        .scrollTop-Btn i::before{
            font-size: 19px;
            color: white;
            display: block;
            cursor: pointer;
        }
        .mb-20{
            margin: 0 0 20px 0;
        }
        .portfolio-shuffle-inner .row .shuffle-card{
            padding: 0 10px;
        }
        .filters-group {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
        }
        .filters-group .btn-group{
            background-color: white;
            padding: 4px 20px;
            border-radius: 20px;
        }
        .filters-group .btn-group button{
            padding: 5px 12px;
            font-weight: 600;
            box-shadow: unset !important;
        }
        .filters-group .btn-group button:hover,:focus{
            color: var(--lightBlue);
        }

        .shuffle-card-img{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
        }
        .shuffle-card-img:hover .shuffle-card-caption{
            opacity: 1;
        }
        .shuffle-card-caption{
            position: absolute;
            bottom: 0;
            opacity: 0;
            box-sizing: border-box;
            width: 100%;
            padding: 20px 0;
            background-color: rgba(20,157,221,0.6);
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none !important;
            transition: all 300ms;
        }
        .shuffle-card-img{
            height: 215px;
            overflow: hidden;
            border-radius: 6px 6px 6px 6px;
            background-color: #fff1e2;
            background-size: cover;
            background-repeat: no-repeat;
            /* background-position: center;*/
        }
        .shuffle-card-img img{
            border-radius: 6px 6px 6px 6px;
        }
        .shuffle-card-caption:hover{
            background-color: rgba(20,157,221,0.8);
        }
        .shuffle-card-caption i{
            color: white;
            font-size: 20px;
        }
        .my-shuffle-container {
            position: relative;
            overflow: hidden;
          }
          
          .my-sizer-element {
            position: absolute;
            opacity: 0;
            visibility: hidden;
          }

          .col-1\@xs,
          .col-2\@xs,
          .col-3\@xs,
          .col-4\@xs,
          .col-5\@xs,
          .col-6\@xs,
          .col-1\@sm,
          .col-2\@sm,
          .col-3\@sm,
          .col-4\@sm,
          .col-5\@sm,
          .col-6\@sm,
          .col-7\@sm,
          .col-8\@sm,
          .col-9\@sm,
          .col-10\@sm,
          .col-11\@sm,
          .col-12\@sm,
          .col-1\@md,
          .col-2\@md,
          .col-3\@md,
          .col-4\@md,
          .col-5\@md,
          .col-6\@md,
          .col-7\@md,
          .col-8\@md,
          .col-9\@md,
          .col-10\@md,
          .col-11\@md,
          .col-12\@md {
            position: relative;
            box-sizing: border-box;
            min-height: 1px;
            padding-left: 8px;
            padding-right: 8px;
          }
          
          .col-1\@xs,
          .col-2\@xs,
          .col-3\@xs,
          .col-4\@xs,
          .col-5\@xs,
          .col-6\@xs {
            float: left;
          }
          
          .col-1\@xs {
            width: 16.66667%;
          }
          
          .col-2\@xs {
            width: 33.33333%;
          }
          
          .col-3\@xs {
            width: 50%;
          }
          
          .col-4\@xs {
            width: 66.66667%;
          }
          
          .col-5\@xs {
            width: 83.33333%;
          }
          
          .col-6\@xs {
            width: 100%;
          }
          
          @media screen and (min-width: 768px) {
            .col-1\@sm,
            .col-2\@sm,
            .col-3\@sm,
            .col-4\@sm,
            .col-5\@sm,
            .col-6\@sm,
            .col-7\@sm,
            .col-8\@sm,
            .col-9\@sm,
            .col-10\@sm,
            .col-11\@sm,
            .col-12\@sm {
              float: left;
            }
          
            .col-1\@sm {
              width: 8.33333%;
            }
          
            .col-2\@sm {
              width: 16.66667%;
            }
          
            .col-3\@sm {
              width: 25%;
            }
          
            .col-4\@sm {
              width: 33.33333%;
            }
          
            .col-5\@sm {
              width: 41.66667%;
            }
          
            .col-6\@sm {
              width: 50%;
            }
          
            .col-7\@sm {
              width: 58.33333%;
            }
          
            .col-8\@sm {
              width: 66.66667%;
            }
          
            .col-9\@sm {
              width: 75%;
            }
          
            .col-10\@sm {
              width: 83.33333%;
            }
          
            .col-11\@sm {
              width: 91.66667%;
            }
          
            .col-12\@sm {
              width: 100%;
            }
          
            .container {
              padding-left: 7%;
              padding-right: 7%;
            }
          
            .row {
              max-width: 1200px;
            }
          }
          
        
          


/*MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA MEDIA  MEDIA MEDIA MEDIA*/

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .header-toggle-btn{
        display: none;
    }
    .show-header-anime{
        animation: unset;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {


    .show-header-anime{
        animation: unset;
    }
    .scrollTop-Btn{
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
    }
    .scrollTop-Btn i::before{
        font-size: 18px;
    }
    .header-toggle-btn{
        display: none;
    }
    .intro-name h1{
        font-size: 28px;
      }

      /*1!!!!!!!!!!!!!!ABOUT SECTION !!!!!!!!!!!!*/

    .lead-text{
        margin-bottom: 30px;
    }
    .lead-text h1{
        font-size: 28px;
    }
    .lead-text h1::before{
        width: 45px;
        height: 3px;
    }
    .lead-text p{
        margin-bottom: unset;
        font-size: 15px;
    }
  
    
    .about-details-caption h1{
        font-size: 24px;
    }
    .about-details-caption p{
        font-size: 15px !important;
    }
  
    .details-caption-list {
      margin: 25px 0;
    }
    .details-caption-list div{
        padding: 0 0;
    }
    .details-caption-list div ul{
        margin:  0 ;
    }
    .details-caption-list div:nth-child(2){
        padding-left: 10px;
    }
    .details-caption-list div ul li{
        margin-bottom: 10px;
    }
    .details-caption-list div ul li i{
        font-size: 13px;
    }
    .details-caption-list div ul li span:nth-child(2){
        font-size: 14px;
        margin-left: 2px;
        margin-right: 1px;
        white-space: nowrap;
    }
    .details-caption-list div ul li span:nth-child(3){
        font-size: 14px;
    }

    /*------------------------ SKILL SECTION ---- SKILL SECTION--------------------------------!!!!!!!!!!!*/


    .skill-list-inner ul li{
      margin: 10px 0;
      font-size: 15px;
    }
    .skill-list div:nth-child(2) :first-child li:nth-child(2)::after{
        transition: all 500ms ease-in;
    }
    .skill-list-inner ul li:hover i{
      transform: rotate(360deg);
      color: var(--lightBlue);
      
    }
    .skill-list-inner ul li:hover {
        color: var(--lightBlue);  
    }


    /*_____---------_____---RESUME SECTION _______-----RESUME SECTION--_____---*/


    .summary-heading h1{
        font-size: 22px;

    }
    .summary-details{
        padding-left: 24px;
    }
    .summary-details::before{
        top: 0%;
        left: -9px;
        width: 14px;
        height: 14px;
    }
    .summary-details::after{
        bottom: 0%;
        left: -9px;
        width: 14px;
        height: 14px;

    }
    .summary-details h6{
        font-weight: 600;
        
    }
    .summary-details p{
        font-style: italic;
        font-size: 16px;
        color: var(--textBlack);
    }
    .summary-details ul{
        padding-left: 20px;
    }
    .summary-details ul li{
        margin-bottom: 10px;
        font-size: 15px;
    }
    .dates{
        font-size: 15px;
    }
    .summary-details h5{
        font-size: 16px;
    }


     /*-------______PORTFOLIO SECTION -----____________ PORTFOLIO SECTION------PORTFOLIO*/


    .portfolio-slider{
        margin-top: 50px;
        padding: 40px 40px;
        border-radius: 8px;
    }
    .portfolio-slider .portfolio-owl .item .item-inner:hover .item-link{
        opacity: 1;
    }
    .portfolio-slider .portfolio-owl .item .item-inner .item-link
    {
        width: 70px;
        height: 70px;
    }
    .portfolio-slider .portfolio-owl .item .item-inner .item-link i{
        font-size: 20px;
    }
    .portfolio-slider .portfolio-owl .owl-item{
        padding: 0 70px;
    }
    .portfolio-slider .portfolio-owl .owl-item img{
        border-radius: 8px;
        position: relative;
    }
    .portfolio-slider .portfolio-owl .owl-nav{
        margin-top: 0;
    }
    .portfolio-slider .portfolio-owl .owl-nav i{
        color: var(--lightBlue);
    }
    .portfolio-slider .portfolio-owl .owl-nav .owl-prev{
        width: 50px;
        height: 50px;

    }
    .portfolio-slider .portfolio-owl .owl-nav .owl-next{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }


    /*_________--SERVICE SECTION ____------ SERVICE SECTION ___---- SERVICE SECTION --*/

    .service-detail-inner{
        display: flex;
        position: relative;
        z-index: 20;
        padding: 20px;
    }
    .service-detail-icon{
        width: 85px;
        height: 85px;
    }
    .service-detail-icon i{
        font-size: 28px;
        transition: all 600ms ease;
    }
    .service-detail-caption h6{
        font-size: 20px;
    }
    .service-detail-caption p{
        font-size: 16px;
    }

/*REVIEW SECTION ____-----REVIEW------__REVIEW___---REVIEW SECTION--REVIEW*/

    .review-slider-inner-caption span{
        font-style: italic;
        font-size: 15px;
    }
    .review-slider-inner-caption i{
        margin-right: 10px;
        font-size: 20px !important;
    }
    .review-slider-inner-caption i:last-child{
        margin-left: 10px;
    }

    .review-slider-inner-customer img{
        margin: 18px auto;
        width: 80px !important;
    }
    .review-slider-inner-customer h5{
        font-size: 16px;
    }
    .review-slider-inner-customer h6{
        font-size: 14px;
    }


/*CONTACT CONTACT CONTACT CONTACTCONTACT CONTACTCONTACT CONTACTCONTACT CONTACTCONTACT CONTACTCONTACT CONTACTCONTACT CONTACT*/

    .contact-info{

        padding: 20px 30px;
        width: 50%;
        height: 85%;
    }
    .contact-info h1{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .contact-list li{
        margin-bottom: 25px;
    }
    .contact-list li span{
        font-size: 15px;
    }
    .contact-list li i{
        font-size: 15px;
        margin-right: 10px;
    }
    .contact-info .social-links ul li{
        width: 30px;
        height: 30px;
    }
    .contact-info .social-links ul li i::before{
        font-size: 15px;
    }

    .message-form{
        width: 80%;
        padding:  0 15px;
        padding: 50px 0;
        padding-right: 20px;
    }
    .message-form-inner{
        width: 70%;
    }
    .message-form-inner h1{
        font-size: 22px;
        margin-bottom: 25px;
    }
    .message-form-inner input{
        padding-bottom: 8px;
        font-size: 15px;
    }
    .message-form-inner textarea{
        width: 100%;
        margin-top: 30px;
        font-size: 15px;
    }
    .message-form-inner form  .row:nth-child(2){
        margin-top: 30px;
    }
    .message-form-inner button{
        margin-top: 30px;
        width: 120px;
        padding: 10px 0;
        font-size: 16px;
    }
    


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 


    .scrollTop-Btn{
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
    }
    .scrollTop-Btn i::before{
        font-size: 18px;
    }
    .header{
        opacity: 0;
    }
    .main-inner{
        margin-left: 0px;
    }
    .intro-name h1{
        font-size: 26px;
    }
    /*1!!!!!!!!!!!!!!ABOUT SECTION !!!!!!!!!!!!*/


    .lead-text{
        margin-bottom: 30px;
    }
    .lead-text h1{
        font-size: 32px;
       
    }
   
    .lead-text p{
        margin-bottom: unset;
    }
  
    .about-details-caption{
        margin-top: 30px;
    }
    .about-details-caption h1{
        font-size: 28px;
    }
    .about-details-caption p{
        font-size: 17px;
    }
  
    .details-caption-list {
      margin: 25px 0;
    }
    .details-caption-list div ul li i{
        font-size: 13px;
    }
    .details-caption-list div ul li span:nth-child(2){
        margin-left: 4px;
        margin-right: 1px;
        font-size: 16px;
    }
    .details-caption-list div ul li span:nth-child(3){
        font-size: 16px;
    }

     /*-------______PORTFOLIO SECTION -----____________ PORTFOLIO SECTION------PORTFOLIO*/


     .portfolio-slider{
        margin-top: 50px;
        padding: 40px 40px;
        border-radius: 8px;
    }
    .portfolio-slider .portfolio-owl .item .item-inner:hover .item-link{
        opacity: 1;
    }
    .portfolio-slider .portfolio-owl .item .item-inner .item-link
    {
        width: 70px;
        height: 70px;
    }
    .portfolio-slider .portfolio-owl .item .item-inner .item-link i{
        font-size: 20px;
    }
    .portfolio-slider .portfolio-owl .owl-item{
        padding: 0 50px;
    }
    .portfolio-slider .portfolio-owl .owl-item img{
        border-radius: 8px;
        position: relative;
    }
    .portfolio-slider .portfolio-owl .owl-nav{
        margin-top: 0;
    }
    .portfolio-slider .portfolio-owl .owl-nav i{
        color: var(--lightBlue);
    }
    .portfolio-slider .portfolio-owl .owl-nav .owl-prev{
        width: 50px;
        height: 50px;
        left: -20px;

    }
    .portfolio-slider .portfolio-owl .owl-nav .owl-next{
        width: 50px;
        height: 50px;
        right: -20px;
    }


     /*_________--SERVICE SECTION ____------ SERVICE SECTION ___---- SERVICE SECTION --*/

    .service-detail-inner{
        display: flex;
        position: relative;
        z-index: 20;
        padding: 20px;
    }
    .service-detail-icon{
        width: 85px;
        height: 85px;
    }
    .service-detail-icon i{
        font-size: 32px;
    }
    .service-detail-caption h6{
        font-size: 24px;
    }
    .service-detail-caption p{
        font-size: 16px;
    }

    /*CONTACT CONTACT CONTACT CONTACTCONTACT CONTACTCONTACT CONTACTCONTACT CONTACTCONTACT CONTACTCONTACT CONTACTCONTACT CONTACT*/

    .contact-info{

        padding: 20px 30px;
        width: 50%;
        height: 85%;
    }
    .contact-info h1{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .contact-list li{
        margin-bottom: 25px;
    }
    .contact-list li span{
        font-size: 15px;
    }
    .contact-list li i{
        font-size: 15px;
        margin-right: 10px;
    }
    .contact-info .social-links ul li{
        width: 30px;
        height: 30px;
    }
    .contact-info .social-links ul li i::before{
        font-size: 15px;
    }

    .message-form{
        width: 80%;
        padding:  0 15px;
        padding: 50px 0;
        padding-right: 20px;
    }
    .message-form-inner{
        width: 70%;
    }
    .message-form-inner h1{
        font-size: 22px;
        margin-bottom: 25px;
    }
    .message-form-inner input{
        padding-bottom: 8px;
        font-size: 15px;
    }
    .message-form-inner textarea{
        width: 100%;
        margin-top: 30px;
        font-size: 15px;
    }
    .message-form-inner form  .row:nth-child(2){
        margin-top: 30px;
    }
    .message-form-inner button{
        margin-top: 30px;
        width: 120px;
        padding: 10px 0;
        font-size: 16px;
    }
    

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

    .scrollTop-Btn{
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
    }
    .scrollTop-Btn i::before{
        font-size: 18px;
    }
    .header{
        opacity: 0;
    }
    .main-inner{
        margin-left: 0px;
    }
    .intro-name svg text{
        font-size: 100px;
       
      }
    .intro-name h1{
        font-size: 23px;
    }


     /*1!!!!!!!!!!!!!!ABOUT SECTION !!!!!!!!!!!!*/

  
    .about-details-caption{
        margin-top: 30px;
    }
    .about-details-caption h1{
        font-size: 28px;
    }
    .about-details-caption p{
        font-size: 17px;
    }
  
    .details-caption-list {
      margin: 15px 0;
    }
    .details-caption-list div ul{
        margin: 10px 0;
    }
    .details-caption-list div ul li i{
        font-size: 13px;
    }
    .details-caption-list div ul li span:nth-child(2){
        margin-left: 4px;
        margin-right: 1px;
        font-size: 16px;
    }
    .details-caption-list div ul li span:nth-child(3){
        font-size: 16px;
    }

    /*------------------------ SKILL SECTION ---- SKILL SECTION--------------------------------!!!!!!!!!!!*/
    .skill-list-inner ul:nth-child(1) {
        margin: 0px 0;
        margin-bottom: 10px;
    }
    .skill-list-inner ul li{
        margin: 10px 0;
        font-size: 17px;
    }

    /*-------______PORTFOLIO SECTION -----____________ PORTFOLIO SECTION------PORTFOLIO*/


    .portfolio-slider{
        margin-top: 50px;
        padding: 30px 30px;
        border-radius: 8px;
    }
    .portfolio-slider .portfolio-owl .item .item-inner:hover .item-link{
        opacity: 1;
    }
    .portfolio-slider .portfolio-owl .item .item-inner .item-link
    {
        width: 70px;
        height: 70px;
    }
    .portfolio-slider .portfolio-owl .item .item-inner .item-link i{
        font-size: 20px;
    }
    .portfolio-slider .portfolio-owl .owl-item{
        padding: 0 40px;
    }
    .portfolio-slider .portfolio-owl .owl-item img{
        border-radius: 8px;
        position: relative;
    }
    .portfolio-slider .portfolio-owl .owl-nav{
        margin-top: 0;
    }
    .portfolio-slider .portfolio-owl .owl-nav i{
        color: var(--lightBlue);
        font-size: 15px;
    }
    .portfolio-slider .portfolio-owl .owl-nav .owl-prev{
        width: 45px;
        height: 45px;
        left: -20px;

    }
    .portfolio-slider .portfolio-owl .owl-nav .owl-next{
        width: 45px;
        height: 45px;
        right: -20px;
    }

    /*_________--SERVICE SECTION ____------ SERVICE SECTION ___---- SERVICE SECTION --*/

    .service-detail-inner{
        display: flex;
        position: relative;
        z-index: 20;
        padding: 20px;
    }
    .service-detail-icon{
        width: 90px;
        height: 90px;
    }
    .service-detail-icon i{
        font-size: 32px;
    }
    .service-detail-caption h6{
        font-size: 24px;
    }
    .service-detail-caption p{
        font-size: 16px;
    }

    /*CONTACT___----- CONTACT---CONTACT___----- CONTACT---CONTACT___----- CONTACT---CONTACT___----- CONTACT---CONTACT___----- CONTACT---*/

    .contact-info{
        padding: 30px 45px;
        position: absolute;
        left: 50%;
        top: 0%;
        transform: translate(-50%,-105%);
        width: 100%;
        background-color: var(--headingDarkBlue);
        height: 85%;
    }
    .message-form-inner{
        margin: 0 auto;
    }
    .message-form{
        margin:  100% auto ;
        margin-bottom: 0;
        width: 100%;
        padding:  0 15px;
        position: relative;
        background-color: var(--bglight);
        padding: 50px 0;
        padding-right: 20px;
    }

}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

    .scrollTop-Btn{
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
    }
    .scrollTop-Btn i::before{
        font-size: 16px;
    }
    .header{
        opacity: 0;
    }
    .toggle-cross{
        display: block ;
    }
    .main-inner{
        margin-left: 0px;
    }
    .intro-name svg text{
        font-size: 110px;
        animation: animateBigName 3s ease,fillName 800ms ease-in 3s forwards;
      }
      
    .intro-name h1{
        font-weight: 300;
        font-size: 18px;
    }

     /*1!!!!!!!!!!!!!!ABOUT SECTION !!!!!!!!!!!!*/

  
    .lead-text h1{
        font-size: 26px;
    }
    .lead-text h1::before{
        width: 43px;
        height: 3px;
    }
    .lead-text p{
        margin-bottom: unset;
        font-size: 15px;
    }

     .about-details-caption{
        margin-top: 30px;
    }
    .about-details-caption h1{
        font-size: 22px;
    }
    .about-details-caption p{
        font-size: 15px !important;
    }
  
    .details-caption-list {
      margin: 10px 0;
    }
    .details-caption-list div ul{
        margin: 5px 0;
    }
    .details-caption-list div ul li i{
        font-size: 12px;
    }
    .details-caption-list div ul li span:nth-child(2){
        margin-left: 4px;
        margin-right: 5px;
        font-size: 15px;
    }
    .details-caption-list div ul li span:nth-child(3){
        font-size: 15px;
    }

    /*------------------------ SKILL SECTION ---- SKILL SECTION--------------------------------!!!!!!!!!!!*/
    .skill-list-inner ul {
        margin: 0px 0;
        margin-bottom: 10px;
    }
    .skill-list-inner ul li{
        margin: 10px 0;
        font-size: 15px;
    }


    /*_____---------_____---RESUME SECTION _______-----RESUME SECTION--_____---*/


        .summary-heading h1{
            font-size: 22px;
        }
        .summary-details::before{
            top: 0%;
            left: -8px;
            width: 14px;
            height: 14px;
        }
        .summary-details::after{
            bottom: 0%;
            left: -8px;
            width: 14px;
            height: 14px;

        }
        .summary-details h6{
            font-weight: 600;
            
        }
        .summary-details p{
            font-size: 16px;
        }
        .summary-details ul li{
            font-size: 15px;
        }
        .dates{
            font-size: 15px;
        }
        .summary-details h5{
            font-size: 16px;
        }

        .resume-summary .row .col-lg-6:nth-child(2){
            margin-top: 30px;
        }
        /*PORTFOLIO PORTFOLIO*/
        .filters-group-wrap{
            padding: 0;     
        }
        .filters-group .btn-group {
            background-color: white;
            padding: 4px 5px;
            border-radius: 20px;
        }
        .shuffle-card-caption{
            opacity: 1;
            padding: 12px 0
        }
        /*
        .portfolio-slider{
            margin-top: 50px;
            padding: 20px 20px;
            border-radius: 8px;
        }
        .portfolio-slider .portfolio-owl .item .item-inner:hover .item-link{
            opacity: 1;
        }
        .portfolio-slider .portfolio-owl .item .item-inner .item-link
        {
            width: 50px;
            height: 50px;
        }
        .portfolio-slider .portfolio-owl .item .item-inner .item-link i{
            font-size: 17px;
        }
        .portfolio-slider .portfolio-owl .owl-item{
            padding: 0 00px;
        }
        .portfolio-slider .portfolio-owl .owl-item img{
            border-radius: 8px;
            position: relative;
        }
        .portfolio-slider .portfolio-owl .owl-nav{
            margin-top: 0;
        }
        .portfolio-slider .portfolio-owl .owl-nav i{
            color: var(--lightBlue);
            font-size: 15px;
        }
        .portfolio-slider .portfolio-owl .owl-nav{
            margin-top: 20px;
        }
        .portfolio-slider .portfolio-owl .owl-nav .owl-prev{
            width: 45px;
            height: 45px;
            transform: unset;
            position: static;
            margin: 0 6px;
    
        }
        .portfolio-slider .portfolio-owl .owl-nav .owl-next{
            width: 45px;
            height: 45px;
            transform: unset;
            position: static;
            margin: 0 6px;
        }*/


        /*_________--SERVICE SECTION ____------ SERVICE SECTION ___---- SERVICE SECTION --*/

        .service-detail-inner{
            padding: 20px;
            flex-direction: column;
            align-items: center;
        }
        .service-detail-icon{
            width: 80px;
            height: 80px;
            margin-right: 0;
        }
        .service-detail-icon i{
            font-size: 30px;
        }
        .service-detail-caption {
            margin-top: 20px;
            text-align: center;
        }
        .service-detail-caption h6{
            font-size: 20px;
        }
        .service-detail-caption p{
            font-size: 15px;
        }

        /*REVIEW SECTION ____-----REVIEW------__REVIEW___---REVIEW SECTION--REVIEW*/

        .review-slider-inner-caption span{
            font-style: italic;
            font-size: 15px;
        }
        .review-slider-inner-caption i{
            margin-right: 10px;
            font-size: 18px !important;
        }
        .review-slider-inner-caption i:last-child{
            margin-left: 10px;
        }

        .review-slider-inner-customer img{
            margin: 18px auto;
            width: 80px !important;
        }
        .review-slider-inner-customer h5{
            font-size: 16px;
        }
        .review-slider-inner-customer h6{
            font-size: 14px;
        }


/*CONTACT CONTACT__--CONTACT CONTACT CONTACT__--CONTACT CONTACT CONTACT__--CONTACT CONTACT CONTACT__--CONTACT*/

        .contact-info{
            padding: 30px 20px;
            position: static;
            transform: unset;
            width: 100%;
            background-color: var(--headingDarkBlue);
            height: 85%;
            margin-top: 30px;
        }
        .contact-info h1{
            font-size: 22px;
            margin-bottom: 20px;
        }
        .contact-list li{
            margin-bottom: 25px;
        }
        .contact-list li span{
            font-size: 15px;
        }
        .contact-list li i{
            font-size: 15px;
            margin-right: 10px;
        }
        .contact-info .social-links ul li{
            width: 30px;
            height: 30px;
        }
        .contact-info .social-links ul li i::before{
            font-size: 15px;
        }
        .message-form-inner{
            padding: 00px 20px;
            margin: 0 0;
            width: 100%;
        }
        .message-form{
            margin:  30px auto ;
            width: 100%;
            padding:  0 15px;
            position: relative;
            background-color: var(--bglight);
            padding: 30px 0;
            padding-right: 0px;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .message-form-inner h1{
            font-size: 20px;
            margin-bottom: 25px;
        }
        .message-form-inner input{
            padding-bottom: 8px;
            font-size: 15px;
        }
        .message-form-inner textarea{
            width: 100%;
            margin-top: 30px;
            font-size: 15px;
        }
        .message-form-inner form  .row:nth-child(2){
            margin-top: 30px;
        }
        .message-form-inner button{
            width: 110px;
            padding: 10px 0;
            font-size: 15px;
            display: block;
            margin: 30px auto;
        }
        .error{
            font-size: 10px;
        }

        
    


}



/*
                            <div class="portfolio-slider">
                                <div class="owl-carousel owl-theme portfolio-owl">
                                    <div class="item">
                                        <div class="item-inner">
                                            <img src="./assets/img/02-port.jpg" alt="">
                                            <div class="item-link">
                                                <a href="https://real-estate-awm.netlify.app/" target="_blank" rel="noopener noreferrer"><i class=" icon-foreign"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="item-inner">
                                            <img src="./assets/img/01-port.png" alt="">
                                            <div class="item-link">
                                                <a href="https://awm-construction.netlify.app/" target="_blank" rel="noopener noreferrer"><i class=" icon-foreign"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*/